h5py==2.10.0
scipy=1.4.1
tables==3.6.1
tensorflow==1.15.0
tensorflow-estimator==1.15.1
numpy==1.18.0
keras==2.3.1
matplotlib==3.1.2
meshio==3.3.1
pyvista==0.23.1
imageio==2.6.1
imageio-ffmpeg==0.4.1


